.site-header {
  padding-bottom: 200px;
  background-image: url("../../images/hedarbgimg.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.site-header__wrapper {
  padding: 23px 0 80px 0;

}
.nav-link {
  margin-right: 40px;
  font-weight: var(--main-smoll-weight);
  font-size: 18px;
  line-height: 155%;
  color: var(--main-dark-title);
}
.nav-link--last {
  margin-right: 30px;
  font-weight: var(--main-smoll-weight);
  font-size: 18px;
  line-height: 155%;
  color: var(--main-dark-title);
}
.nav-link:hover {
  opacity: 0.5;
  text-decoration: underline;
}
@media only screen and (min-width:767px){
  .site-header__wrapper {
      padding: 50px 0 20px;
  }
}
